In [27]:
import pandas as pd
import numpy as np
import scipy as sp
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.model_selection import RandomizedSearchCV
%matplotlib inline

In [29]:
scores=pd.read_csv("C:\\Users\\Mason\\Desktop\\port.csv", sep=';' )
print(scores.head(50))

   school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0      GP   F   18       U     GT3       A     4     4   at_home   teacher
1      GP   F   17       U     GT3       T     1     1   at_home     other
2      GP   F   15       U     LE3       T     1     1   at_home     other
3      GP   F   15       U     GT3       T     4     2    health  services
4      GP   F   16       U     GT3       T     3     3     other     other
5      GP   M   16       U     LE3       T     4     3  services     other
6      GP   M   16       U     LE3       T     2     2     other     other
7      GP   F   17       U     GT3       A     4     4     other   teacher
8      GP   M   15       U     LE3       A     3     2  services     other
9      GP   M   15       U     GT3       T     3     4     other     other
10     GP   F   15       U     GT3       T     4     4   teacher    health
11     GP   F   15       U     GT3       T     2     1  services     other
12     GP   M   15       U     LE3       T     4     4    health  services
13     GP   M   15       U     GT3       T     4     3   teacher     other
14     GP   M   15       U     GT3       A     2     2     other     other
15     GP   F   16       U     GT3       T     4     4    health     other
16     GP   F   16       U     GT3       T     4     4  services  services
17     GP   F   16       U     GT3       T     3     3     other     other
18     GP   M   17       U     GT3       T     3     2  services  services
19     GP   M   16       U     LE3       T     4     3    health     other
20     GP   M   15       U     GT3       T     4     3   teacher     other
21     GP   M   15       U     GT3       T     4     4    health    health
22     GP   M   16       U     LE3       T     4     2   teacher     other
23     GP   M   16       U     LE3       T     2     2     other     other
24     GP   F   15       R     GT3       T     2     4  services    health
25     GP   F   16       U     GT3       T     2     2  services  services
26     GP   M   15       U     GT3       T     2     2     other     other
27     GP   M   15       U     GT3       T     4     2    health  services
28     GP   M   16       U     LE3       A     3     4  services     other
29     GP   M   16       U     GT3       T     4     4   teacher   teacher
30     GP   M   15       U     GT3       T     4     4    health  services
31     GP   M   15       U     GT3       T     4     4  services  services
32     GP   M   15       R     GT3       T     4     3   teacher   at_home
33     GP   M   15       U     LE3       T     3     3     other     other
34     GP   M   16       U     GT3       T     3     2     other     other
35     GP   F   15       U     GT3       T     2     3     other     other
36     GP   M   15       U     LE3       T     4     3   teacher  services
37     GP   M   16       R     GT3       A     4     4     other   teacher
38     GP   F   15       R     GT3       T     3     4  services    health
39     GP   F   15       R     GT3       T     2     2   at_home     other
40     GP   F   16       U     LE3       T     2     2     other     other
41     GP   M   15       U     LE3       T     4     4   teacher     other
42     GP   M   15       U     GT3       T     4     4  services   teacher
43     GP   M   15       U     GT3       T     2     2  services  services
44     GP   F   16       U     LE3       T     2     2     other   at_home
45     GP   F   15       U     LE3       A     4     3     other     other
46     GP   F   16       U     LE3       A     3     3     other  services
47     GP   M   16       U     GT3       T     4     3    health  services
48     GP   M   15       U     GT3       T     4     2   teacher     other
49     GP   F   15       U     GT3       T     4     4  services   teacher

   ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0  ...      4        3      4     1     1      3        4   0  11  11
1  ...      5        3      3     1     1      3        2   9  11  11
2  ...      4        3      2     2     3      3        6  12  13  12
3  ...      3        2      2     1     1      5        0  14  14  14
4  ...      4        3      2     1     2      5        0  11  13  13
5  ...      5        4      2     1     2      5        6  12  12  13
6  ...      4        4      4     1     1      3        0  13  12  13
7  ...      4        1      4     1     1      1        2  10  13  13
8  ...      4        2      2     1     1      1        0  15  16  17
9  ...      5        5      1     1     1      5        0  12  12  13
10 ...      3        3      3     1     2      2        2  14  14  14
11 ...      5        2      2     1     1      4        0  10  12  13
12 ...      4        3      3     1     3      5        0  12  13  12
13 ...      5        4      3     1     2      3        0  12  12  13
14 ...      4        5      2     1     1      3        0  14  14  15
15 ...      4        4      4     1     2      2        6  17  17  17
16 ...      3        2      3     1     2      2       10  13  13  14
17 ...      5        3      2     1     1      4        2  13  14  14
18 ...      5        5      5     2     4      5        2   8   8   7
19 ...      3        1      3     1     3      5        6  12  12  12
20 ...      4        4      1     1     1      1        0  12  13  14
21 ...      5        4      2     1     1      5        0  11  12  12
22 ...      4        5      1     1     3      5        0  12  13  14
23 ...      5        4      4     2     4      5        2  10  10  10
24 ...      4        3      2     1     1      5        2  10  11  10
25 ...      1        2      2     1     3      5        6  10  11  12
26 ...      4        2      2     1     2      5        8  11  12  12
27 ...      2        2      4     2     4      1        0  11  11  11
28 ...      5        3      3     1     1      5        2  12  12  13
29 ...      4        4      5     5     5      5        4  12  11  12
30 ...      5        4      2     3     4      5        0  10  11  11
31 ...      4        3      1     1     1      5        2  15  15  15
32 ...      4        5      2     1     1      5        0  13  14  15
33 ...      5        3      2     1     1      2        0  13  12  12
34 ...      5        4      3     1     1      5        4  12  12  12
35 ...      3        5      1     1     1      5        4  11  11  11
36 ...      5        4      3     1     1      4        0  14  14  14
37 ...      2        4      3     1     1      5        4  13  13  13
38 ...      4        3      2     1     1      5        2  11  12  12
39 ...      4        3      1     1     1      2        8  14  13  12
40 ...      3        3      3     1     2      3       16  11  11  10
41 ...      5        4      3     2     4      5        8  10  11  11
42 ...      4        3      3     1     1      5        0  14  15  15
43 ...      5        4      1     1     1      1        0   9  10  10
44 ...      4        3      3     2     2      5       14  10  11  11
45 ...      5        2      2     1     1      5        4  10  11  11
46 ...      2        3      5     1     4      3        6  13  12  13
47 ...      4        2      2     1     1      2        2  17  17  17
48 ...      4        3      3     2     2      5        4  11  12  13
49 ...      4        4      4     1     1      3        2  13  12  12

[50 rows x 33 columns]

In [13]:
target=scores.G3

In [18]:
data=scores.drop(['G1','G2', 'G3'], axis=1)
data.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
dtype: int64

In [19]:
numbers=data.select_dtypes(include=[np.number])

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(numbers,target, random_state=42, test_size=.33)

In [21]:
lr=linear_model.LinearRegression()
model=lr.fit(X_train, Y_train)
predictions=model.predict(X_test)
print('RMSE is: \n', mean_squared_error(Y_test, predictions))

RMSE is:
 8.00678611244

In [33]:
plt.()

AttributeError: module 'matplotlib.pyplot' has no attribute 'data'

In [23]:
corr=scores.corr()
corr.sort_values(["G3"], ascending=False, inplace=True)
print(corr.G3)

G3            1.000000
G2            0.918548
G1            0.826387
studytime     0.249789
Medu          0.240151
Fedu          0.211800
famrel        0.063361
goout        -0.087641
absences     -0.091379
health       -0.098851
age          -0.106505
freetime     -0.122705
traveltime   -0.127173
Walc         -0.176619
Dalc         -0.204719
failures     -0.393316
Name: G3, dtype: float64